.availabilityHeader {
    margin: 16px;
}

.availabilityCard {
    max-width: 980px;
    margin: 0 auto;
}
.availabilityCard .card-body {
    padding: 1rem 1rem 0 1rem;
}
.caption {
    font-size: 14px;
    margin-top: 16px;
}

.toast { position: relative; z-index: 1 }

.copyButton {
    float: right;
}

.nameInputDiv {
    float: right;
    max-width: 300px;
}
.nameInputDiv input {
    height: 2.25rem;
    font-size: 1rem;
    margin-right: 15px;
}

.availabilityTimezoneDiv {
    width: 250px;
    font-size: 12px;
    text-align: left;
    float: left;
}