.availabilityListSpace {
    height: 56px;
}

.availabilityListCard {
    height: inherit;
    width: inherit;
}

.availabilityList {
    height: inherit;
}

.listCaption {
    position: absolute;
    margin-top: 11px;
    font-size: 14px;
    left: 30px;
}

.listInfo {
    float: left;
    height: 100%;
    width: 85px;
    padding-top: 7px;
    padding-right: 7px;
    background: #e9ecef;
    border-radius: 0.25rem 0 0 0.25rem;
    border-right: 1px solid #ced4da;
    text-align: right;
    line-height: 0.8;
    margin-right: 5px;
}
span.listCount { font-size: 1rem; }
span.availabilityDate { font-size: 0.75rem; }
span.availabilityTime { font-size: 0.9rem; }

.listNames {
    display: table;
    height: inherit;
    text-align: left;
    font-size: .8rem;
    line-height: 1;
}
.listNames span {
    display: table-cell;
    vertical-align: middle;
}

.availabilitySwitch {
    margin-top: -4px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.availabilitySwitch span { font-size: 16px; padding-top: 4px; }
.availabilitySwitch .form-switch { font-size: 1.4rem; }
.switchCaption {
    margin-top: 9px;
    height: 20px;
    font-size: .75rem;
}
