.availabilityHeader {
    margin: 16px;
}

.availabilityCard {
    max-width: 892px;
    margin: 0 auto;
}
.caption {
    float: right;
    font-size: 14px;
    text-align: right;
    margin-top: 4px;
}
.caption p { margin-bottom: 0; line-height: 1.2; }

.toast { position: relative; z-index: 1 }

.nameInputDiv {
    float: right;
    max-width: 300px;
}
.nameInputDiv input {
    height: 2.25rem;
    font-size: 1rem;
    margin-right: 15px;
}

.availabilityTimezoneDiv {
    width: 250px;
    font-size: 12px;
    text-align: left;
    float: left;
}