.App {
    margin: 0 auto;
    text-align: center;
}
.schedulerHeader {
    margin: 16px;
    font-size: 1.5rem;
}

.schedulerCard {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.stepLabel {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    line-height: 1.25rem;
}
.stepLabel:nth-child(3) { margin-top: 25px; }
.stepLabel:nth-child(5) { margin-top: 0; }

.dayPicker {
    font-size: 17px;
}
.dayPicker .rdp { margin: 0; }
.dayPicker .rdp-month {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.dayPicker .rdp-caption {
    background-color: #CAECFF;
    padding-left: 15px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.dayPicker .rdp-table {
    margin: 0 15px 10px 15px;
}
p.dayPickerFooter {
    height: 25.5px;
    margin: 5px 0 0 0;
    text-align: center;
    font-size: 0.9rem;
}

.submitButton {
    float: right;
    margin-left: 10px;
}


/* DayPicker styling */
/* from https://react-day-picker.js.org/basics/styling */
:root {
    --rdp-cell-size: 40px;
    --rdp-accent-color: #0000ff;
    --rdp-background-color: #e7edff;
    /* Switch to dark colors for dark themes */
    --rdp-accent-color-dark: #3003e1;
    --rdp-background-color-dark: #180270;
    /* Outline border for focused elements */
    --rdp-outline: 2px solid var(--rdp-accent-color);
    /* Outline border for focused and selected elements */
    --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}

/* loading overlay */
#loadingOverlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* set to none to hide */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1050; /* must be above OffCanvas which is 1040 */
}

/* ProgressBar style */
#loadingOverlay .progress {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#loadingOverlay .loadingText {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}