@media only screen and (max-device-width: 480px) {
    /* Logo resizing */
    .spanLogo img { object-fit: none; }
    .spanLogo span { width: 200px !important; }

    /* Next Home container -- remove padding*/
    div.Home_container__bCOhY {
        padding: 0;
    }

    /* Scheduler App */
    .schedulerHeader { margin: 0 0 16px 0; }
    .schedulerCard {
        margin: 0 5px;
    }

    /* Availability App */
    .availabilityHeader { margin: 0 0 16px 0; }

    .submitButton {font-size: 12px; margin-left: 5px; height: 36px;}
    .nameInputDiv input { margin-right: 0; width:195px;}

    .availabilityCard {
        margin: 0 5px 25px 5px;
    }
    .availabilityListSpace {
        height: 84px;
    }
    .listInfo {
        padding-top: 17px;
    }
    .dayCell {
        touch-action: none; /* prevent scrolling when selecting */
    }
}
