.timeSelectorDiv {
    width: 150px;
    margin-top: 5px;
    margin-right: 5px;
    float:left;
}
.timeSelectorDiv.first {
    clear:left;
}
.timeSelectorDiv select {
    font-size: 1rem;
}
.timezoneDiv {
    width: 305px;
    margin: 0 auto;
    font-size: 12px;
    text-align: left;
    float: left;
}
#react-select-3-listbox div div {
    padding: 5px 5px !important;
}
